<!doctype html>
<html>
  <head>
    <!-- Disable Devtool -->
    <script src="https://cdn.jsdelivr.net/npm/disable-devtool@latest/disable-devtool.min.js"></script>
    <script>
      DisableDevtool({
        contextMenu: true, // Blok right click
        copyLink: true, // Blok copy
        shortcutKeys: true, // Blok F12, Ctrl+I
        ondevtoolopen: () => (document.body.innerHTML = '<h1>Access Denied!</h1>'),
      })
    </script>

    <!-- Disable Zoom -->
    <meta name="viewport" content="width=device-width" />
    <style>
      * {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        user-select: none !important;
        -webkit-touch-callout: none !important;
      }
      img {
        pointer-events: none;
      }
    </style>
    <title>Edulang – Unlock The World With Education</title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="icon/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="icon/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon-edulang.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
