// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Quasar SCSS Variables

$primary: #003387; // Biru Edulang (diambil dari gambar)
$secondary: #ffc42c; // Kuning Aksen
$accent: #f5f7fa; // Biru Muda Background
$dark: #2d2d2d;
$positive: #21ba45;
$negative: #c10015;
$info: #0089ff;
$warning: #ffc42c;
